<div >
  <h1 class="text-center">User's files in app count</h1>
  <div>
    <canvas #fileChart>{{ chartFiles }}</canvas>
  </div>
</div>
<div >
  <h1 class="text-center">User's apps count</h1>
  <div>
    <canvas #appsChart>{{ chartApps }}</canvas>
  </div>
</div>
<div >
  <h1 class="text-center">Images in app count</h1>
  <div>
    <canvas #imgsChart>{{ chartImages }}</canvas>
  </div>
</div>
<div >
  <h1 class="text-center">Extension in files count</h1>
  <div>
    <canvas #extsChart>{{ chartExtensions }}</canvas>
  </div>
</div>
